[submodule "web-server-2024-1"]
	path = web-server-2024-1
	url = git@github.com:manolito-fatec/web-server-2024-1.git
[submodule "web-client-2024-1"]
	path = web-client-2024-1
	url = git@github.com:manolito-fatec/web-client-2024-1.git
[submodule "docs"]
	path = docs
	url = git@github.com:manolito-fatec/docs.git
